@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: rgb(17, 17, 17);
  /* #111111 */
  --white: rgb(251, 247, 219);
  /* #fbf7db */
  --red: rgb(240, 20, 43);
  /* #f0142b */
  --pink: rgb(234, 20, 174);
  /* #ea14ae */
  --orange: rgb(255, 101, 26);
  /* #ff651a */
  --purple: rgb(151, 1, 232);
  /* #9701e8 */
  --grey: rgb(251, 247, 219, 0.32);
}



body {
  font-family: 'Inter', sans-serif;
  background-color: var(--black);
  background-image: radial-gradient(circle at 50% -20%, rgba(147, 51, 234, 0.1) 0%, transparent 50%);
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  color: var(--white);
}

@keyframes note-spread {
  0% {
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y))) scale(var(--s)) rotate(var(--r));
    opacity: 0;
  }
}

.animate-note-spread {
  animation: note-spread 1.2s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.anim-fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}